*, body > * {
  font-family: 'Lato', sans-serif;
  text-align: center;
  box-sizing: border-box;
  background-color: whitesmoke;

}


nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header-img img{
  width: auto;
  max-width: 300px;
}

.nav-itens {
  display: flex;
  align-self: center;
}
.nav-itens ul {
  display: flex;
  justify-content: space-around;
  width: 479px;
}

header {
  margin: 80px auto;
  font-size: 24px;
  font-weight: 700;
}

h1 {
  margin: 20px 0;
}

input {
  width: 275px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

button {
  margin: 15px 0;
  padding: 0 20px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2px;
  background: transparent;
  max-width: 150px;
  width: 100%;
  height: 30px;
  border: 0;
  background-color: #f1c40f;
  cursor: pointer;
  transition: background-color 1s;
}

button:hover {
    background-color: orange;
}

.fas {
  color: darkorange;
  font-size: 40px;
}

section {
    overflow: visible;
}

.main {
  display: inline-flex;
  flex-direction: column;
  width: 1000px;
  font-family: 'Lato', sans-serif;
  height: 125px;
  padding: 5px;
  margin: 0 auto;
  height: 100%;
}

.main div {
  padding: 30px 0;
  display: flex;
}

.icon {
  height: 125px;
  width: 200px;
  margin: 0 10px;
}

.icon i {
  margin: auto auto;
}

.icon i:first-child {
  position: relative;
  bottom: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.text > * {
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 8px;
}

.sec-box {
  display: flex;
  width: 1000px;
  margin:75px auto;
  justify-content: space-around;
}

.sec-box div {
  border: 1px solid black;
  border-radius: 3px;
  width: 30%;
}

h4 {
  font-weight: 700;
  padding: 15px 0;
  background-color: #dddddd;
}

h3 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 25px;
}

.box p {
  padding: 8px 0;
}

.box button {
  width: auto;
  font-size: 15px;
  font-weight: 4  00;
  height: 40px;
}

footer {
  width: 1000px;
  height: 84px;
  background-color: #dddddd;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

ul, a {
  display: flex;
  background-color: #dddddd;
}

li {
  padding: 0 10px;
  background-color: #dddddd;
}

footer span {
  margin-top: 15px;
}

footer p {
  color: rgb(68, 68, 68);
  background-color: #dddddd;
}
